[Unit]
Description=Run EC-CUBE FIM check every %%INTERVAL%% minutes
Documentation=https://github.com/arstokyo/eccube-fim

[Timer]
OnCalendar=*:0/%%INTERVAL%%
Persistent=true
RandomizedDelaySec=10
AccuracySec=1s
Unit=eccube-fim-check.service

[Install]
WantedBy=timers.target
